 <div class="modal-header">
    <h4 class="modal-title">Choose location</h4>
   <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <h2>Location Registration</h2>
    <div class="form-group">
      <label>Provide new one</label>
      <input #location autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control">
    <div *ngIf="response.alertType != null"  [ngClass]="['alert ', response.alertType]"  role="alert">
      {{response.message}}
    </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!correctForm" (click)="activeModal.close(place)">Add location</button>
  </div>
