<div class="row" *ngIf="!done; else done_content">
  <div class="col-md-3">


    <form [formGroup]="form" (ngSubmit)="submit()">
      <div id="scroll">
        <h3>Main Information</h3>
        <button (click)="isMainInformationCollapse = !isMainInformationCollapse" class="btn btn-primary btn-block "
                type="button">
          Open
        </button>

        <div class="form-group">
          <br>
          <div class="card card-body pt-md-3" id="mainInformation" [ngbCollapse]="isMainInformationCollapse">
            <label for="status-select">Status</label>
            <div>
            <select   class="custom-select" id="status-select" formControlName="status" required>
              <option style="float: left" [ngValue]="status" *ngFor="let status of tripStatus">{{status}}</option>
            </select>
            </div>
            <div *ngIf="form.get('status').invalid && form.get('status').dirty" class="alert alert-danger">Required</div>
            <label for="destination-select">Destination</label>
            <div class="input-group">
            <select class="custom-select" required id="destination-select" formControlName="destination"
                    [compareWith]="compareById">
              <option [ngValue]="location"
                      *ngFor="let location of locations">{{location | toString}}</option>
            </select>
              <div class="input-group-prepend input-group-sm">
                <button  class="btn btn-primary btn-block " type="button" (click)="openLocationModal(content)">+</button>
              </div>
            </div>
            <div *ngIf="form.get('destination').invalid && form.get('destination').dirty" class="alert alert-danger">Required</div>
            <label for="date-start">Start date</label>
            <input type="date" class="form-control" id="date-start" placeholder="date" formControlName="dateStart"
                   required/>
            <div *ngIf="form.get('dateStart').invalid && form.get('dateStart').dirty" class="alert alert-danger">Required</div>
            <label for="date-finish">End date</label>
            <input type="date" class="form-control" id="date-finish" placeholder="date" formControlName="dateFinish"/>
            <label for="place-start-select">Starting location</label>

            <div class="input-group">
            <select class="custom-select" id="place-start-select" formControlName="placeStart"
                    [compareWith]="compareById" (change)="this.draw(form.value)" required>
              <option [ngValue]="location"
                      *ngFor="let location of locations">{{location | toString}}</option>
            </select>
              <div class="input-group-prepend input-group-sm">
                <button  class="btn btn-primary btn-block " type="button"  (click)="openLocationModal(content)">+</button>
              </div>
            </div>
            <div *ngIf="form.get('placeStart').invalid && form.get('placeStart').dirty" class="alert alert-danger">Required</div>

<!--            <label for="costam">Place Finish</label>-->
<!--            <input type="text" class="form-control" id="costam"  (click)="openLocationModal(content,form.get('placeFinish'))" formControlName="placeFinish" [value]="">-->

            <label for="place-finish-select">Final location</label>

              <div class="input-group">
              <select class="custom-select" id="place-finish-select" formControlName="placeFinish"
                    [compareWith]="compareById"
                    (change)="this.draw(form.value)" #placeFinish>
              <option [ngValue]="location"
                      *ngFor="let location of locations">{{location | toString}}</option>
            </select>

                <div class="input-group-prepend input-group-sm">
                  <button  class="btn btn-primary btn-block " type="button"  (click)="openLocationModal(content)">+</button>
                </div>
              </div>
            <label for="driver-select">Driver</label>
            <select class="custom-select my-1 " id="driver-select" formControlName="driver" [compareWith]="compareById"
                    required>
              <option [ngValue]="driver"
                      *ngFor="let driver of tripFormData.drivers">{{driver.firstName}} {{driver.lastName}}</option>
            </select>
            <div *ngIf="form.get('driver').invalid && form.get('driver').dirty" class="alert alert-danger">Required</div>

            <label for="car-select">Car</label>
            <select class="custom-select my-1 " id="car-select" formControlName="car" [compareWith]="compareById"
                    required>
              <option [ngValue]="car" *ngFor="let car of tripFormData.car">{{car.plate}}</option>
            </select>
            <div *ngIf="form.get('car').invalid && form.get('car').dirty" class="alert alert-danger">Required</div>

          </div>
          <br>
          <h3>Additional Information</h3>
          <button (click)="isAdditionalInformationCollapse = !isAdditionalInformationCollapse"
                  class="btn btn-primary btn-block"
                  type="button">Open
          </button>
          <br>
          <div class="card card-body" [ngbCollapse]="isAdditionalInformationCollapse">

            <label for="income">Income</label>
            <input type="number" min="0" class="form-control" id="income" placeholder="income"
                   formControlName="income"/>

            <label for="cost">Costs</label>
            <input type="number" min="0" class="form-control" id="cost" placeholder="cost" formControlName="cost"/>
            <label for="fuel-liters">Fuel</label>
            <input type="number" min="0" class="form-control" id="fuel-liters" placeholder="liters"
                   formControlName="fuel"/>
            <label for="driver-salary">Driver salary</label>
            <input type="number" min="0" class="form-control" id="driver-salary" placeholder="salary"
                   formControlName="driverSalary"/>
            <label for="distance">Distance</label>
            <input type="number" min="0" class="form-control" id="distance" placeholder="distance"
                   formControlName="distance"/>
          </div>
          <br>

          <h3>Loading Places</h3>
          <button (click)="isLoadPlaceInformationCollapse = !isLoadPlaceInformationCollapse"
                  class="btn btn-primary btn-block"
                  type="button">Open
          </button>
          <br>
          <div [ngbCollapse]="isLoadPlaceInformationCollapse">
            <div formArrayName="loadingPlaces"
                 *ngFor="let loadingPlace of form.get('loadingPlaces')['controls']; let i = index">
              <div [formGroupName]="i">
                <div class="card card-body">
                  <h5>Loading Place</h5><br>
                  <input type="hidden" class="form-control" id="id" formControlName="id"/>
                  <label for="nr">nr</label>
                  <input type="number" min="0" class="form-control" id="nr" placeholder="nr" formControlName="nr"
                         required (change)="this.draw(form.value)" />
                  <div *ngIf="form.get('loadingPlaces')['controls'][i]['controls']['nr'].invalid
                  && form.get('loadingPlaces')['controls'][i]['controls']['nr'].dirty" class="alert alert-danger">Required</div>
                  <label for="date">Date</label>
                  <input type="date" min="0" class="form-control" id="date" placeholder="date" formControlName="date"
                         required/>
<!--                  <label for="costam">Place Finish</label>-->
<!--                  <input type="text" class="form-control" id="costam2"  (click)="openLocationModal(content,loadingPlace)" formControlName="location">-->
                  <label for="location-select">Location</label>

                  <div class="input-group">

                  <select class="custom-select" required id="location-select" formControlName="location"
                          [compareWith]="compareById" (change)="this.draw(form.value)" >
                    <option [ngValue]="location"
                            *ngFor="let location of locations">{{location | toString}}</option>
                  </select>

                    <div class="input-group-prepend input-group-sm">
                      <button  class="btn btn-primary btn-block " type="button"  (click)="openLocationModal(content)">+</button>
                    </div>
                  </div>
                  <div *ngIf="form.get('loadingPlaces')['controls'][i]['controls']['location'].invalid
                  && form.get('loadingPlaces')['controls'][i]['controls']['location'].dirty" class="alert alert-danger">Required</div>
                  <label for="income2">income</label>
                  <input type="number" min="0" class="form-control" id="income2" placeholder="income"
                         formControlName="income"/>
                  <br>
                  <h5>Cargo</h5>
                  <div formArrayName="cargo"
                       *ngFor="let loadingPlace of loadingPlace.get('cargo')['controls']; let j = index">
                    <!--                   style="padding-left:5em"-->

                    <div [formGroupName]="j">
                      <div class="card card-body">
                        <label><b>Cargo number {{j + 1}}</b></label><br>
                        <input type="hidden" class="form-control" formControlName="id"/>
                        <label for="number-of-pallets">Number of pallets</label>
                        <input type="number" min="0" class="form-control" id="number-of-pallets" placeholder="number"
                               formControlName="numberOfPallets"/>
                        <label for="weight">Weight</label>
                        <input type="number" min="0" class="form-control" id="weight" placeholder="weight"
                               formControlName="weight"/>
                        <label for="company-name">Company name</label>
                        <input type="number" min="0" class="form-control" id="company-name" placeholder="name"
                               formControlName="companyName"/>

                        <button type="button" class="btn btn-outline-danger mt-2 btn-block " (click)="removeCargo(i,j)">
                          Remove Cargo
                        </button>
                      </div>
                    </div>
                  </div>
                  <button type="button" class="btn btn-outline-primary my-2 btn-block " style="text-align: center"
                          (click)="addCargo(i)">Add New Cargo
                  </button>
                  <button type="button" class="btn btn-outline-danger btn-block" (click)="removeLoadingPlace(i)">Remove Loading
                    Place
                  </button>
                  <br>
                </div>
              </div>
            </div>
            <br>
            <button type="button" class="btn btn-outline-primary btn-block" (click)="addLoadingPlace()">Add New Loading
              Place
            </button>
          </div>

        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-block">Save Trip</button>
    </form>


    <p class="p-md-1"></p>
    <div *ngIf="response.alertType != null" [ngClass]="['row alert ', response.alertType]" role="alert">
      {{response.message}}
    </div>
  </div>
  <div class="col-md-9">
<app-map [trip]="form.value" (event)="populateFormCell($event)"></app-map>
  </div>
</div>

<!--<ng-template #content let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title">Choose location</h4>-->
<!--    <button type="button" class="close" aria-label="Close">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div class="modal-body">-->
<!--    <app-location-form [location]="location"></app-location-form>-->
<!--  </div>-->
<!--            <div class="modal-footer">-->
<!--            <button type="submit" class="btn btn-primary" [disabled]="locationForm.invalid" (click)="modal.close('Save click')">Add location</button>-->
<!--            </div>-->
<!--    </ng-template>-->

<!--<ng-template #content let-modal>-->
<!--  <div class="modal-header">-->
<!--    <h4 class="modal-title" id="modal-basic-title">Location</h4>-->
<!--    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>  </div>-->
<!--  <div class="modal-body">-->
<!--    <h2>Location Registration</h2>-->
<!--      <form [formGroup]="locationForm">-->
<!--        <div class="form-group">-->
<!--          <label for="streetAddress">Street Address:</label>-->
<!--          <input type="text" class="form-control" id="streetAddress" placeholder="Enter streetAddress" formControlName="streetAddress">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="postalCode">Postal Code:</label>-->
<!--          <input type="text" class="form-control" id="postalCode" placeholder="Enter postalCode" formControlName="postalCode">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="city">City:</label>-->
<!--          <input type="text" class="form-control" id="city" placeholder="Enter city" formControlName="city">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label for="country">Country:</label>-->
<!--          <input type="text" class="form-control" id="country" placeholder="Enter country" formControlName="country">-->
<!--          <div *ngIf="locationForm.get('country').invalid && locationForm.get('country').dirty" class="alert alert-danger">Required</div>-->
<!--        </div>-->
<!--        <p class="p-md-1"></p>-->
<!--        <div *ngIf="response.alertType != null"  [ngClass]="['row alert ', response.alertType]"  role="alert">-->
<!--          {{response.message}}-->
<!--        </div>-->
<!--        <div class="modal-footer">-->
<!--        <button type="submit" class="btn btn-primary" [disabled]="locationForm.invalid" (click)="modal.close('Save click')">Add location</button>-->
<!--        </div>-->
<!--      </form>-->
<!--  </div>-->
<!--</ng-template>-->

<ng-template #done_content>
  <div class="swal2-icon swal2-success swal2-animate-success-icon" style="display: flex;">
    <div class="swal2-success-circular-line-left" style="background-color: rgb(255, 255, 255);"></div>
    <span class="swal2-success-line-tip"></span>
    <span class="swal2-success-line-long"></span>
    <div class="swal2-success-ring"></div>
    <div class="swal2-success-fix" style="background-color: rgb(255, 255, 255);"></div>
    <div class="swal2-success-circular-line-right" style="background-color: rgb(255, 255, 255);"></div>
  </div>
  <div class="swal2-icon swal2-error swal2-animate-error-icon" style="display: flex;"><span class="swal2-x-mark"><span
    class="swal2-x-mark-line-left"></span><span class="swal2-x-mark-line-right"></span></span></div>
</ng-template>


