<div>
  <div>
    <h1>Status: {{tripView.status}}</h1>
    <ul>
      <li><h5><b>Destination:</b> {{tripView.destination | toString}}</h5></li>
      <li><h5><b>Date Start:</b> {{tripView.dateStart}}</h5></li>
      <li><h5><b>Date Finish:</b> {{tripView.dateFinish}}</h5></li>
      <li><h5><b>Place Start:</b> {{tripView.placeStart | toString}}</h5></li>
      <li><h5><b>Place Finish:</b> {{tripView.placeFinish | toString}}</h5></li>
      <li><h5><b>Driver:</b> {{tripView.employee.firstName}} {{tripView.employee.lastName}}</h5></li>
      <li><h5><b>Driver Salary:</b> {{tripView.driverSalary}}</h5></li>
      <li><h5><b>Car:</b> {{tripView.car.brand}} {{tripView.car.model}} {{tripView.car.plate}}</h5></li>
      <li><h5><b>Income:</b> {{tripView.income}}</h5></li>
      <li><h5><b>Distance:</b> {{tripView.distance}}</h5></li>
      <li><h5><b>Fuel:</b> {{tripView.fuel}}</h5></li>
    </ul>
  </div>
  <div *ngFor="let place of tripView.loadingPlaces; let i= index " class="border border-warning">
    <h4>Loading Places</h4>
    <div>-
      <h5><b>Number:</b> {{i + 1}}</h5>
      <ul>
        <li><h5><b>Destination:</b> {{place.date}}</h5></li>
        <li><h5><b>Date Start:</b> {{place.nr}}</h5></li>
        <li><h5><b>Date Finish:</b> {{place.location | toString}}</h5></li>
        <li><h5><b>Place Start:</b> {{place.income}}</h5></li>
      </ul>
    </div>
    <div *ngFor="let cargo of place.cargo; let j= index">
      <h5><b>Cargo Number:</b> {{j + 1}}</h5>
      <ul>
        <li><h5><b>Company Name: </b> {{cargo.companyName}}</h5></li>
        <li><h5><b>Number Of Pallets: </b> {{cargo.numberOfPallets}}</h5></li>
        <li><h5><b>Weight: </b> {{cargo.weight}}</h5></li>
      </ul>
    </div>
  </div>
  <br>
  <button type="button" class="nav-link btn btn-outline-primary btn-block" routerLink="/trip-form" (click)="updateTrip(tripView)">Update</button>
</div>
