<div>
<div id="scroll">
  <div>
    <h1 style="text-align: center">Status: {{tripView.status}}</h1>
    <table class="table table-bordered">
      <thead>
      </thead>
      <tbody>
      <tr>
      </tr>
      </tbody>
      <tr>
        <td><b>Destination:</b></td>
        <td> {{tripView.destination | toString}}</td>
      </tr>
      <tr>
        <td><b>Start date:</b>
        <td> {{tripView.dateStart}}</td>
      </tr>
      <tr>
        <td><b>End date:</b></td>
        <td> {{tripView.dateFinish}}</td>
      </tr>
      <tr>
        <td><b>Starting location:</b></td>
        <td> {{tripView.placeStart | toString}}</td>
      </tr>
      <tr>
        <td><b>Final location:</b></td>
        <td> {{tripView.placeFinish | toString}}</td>
      </tr>
      <tr>
        <td><b>Driver:</b></td>
        <td> {{tripView.driver.firstName}} {{tripView.driver.lastName}}</td>
      </tr>
      <tr>
        <td><b>Driver salary:</b></td>
        <td> {{tripView.driverSalary}}</td>
      </tr>
      <tr>
        <td><b>Car:</b></td>
        <td> {{tripView.car.brand}} {{tripView.car.model}} {{tripView.car.plate}}</td>
      </tr>
      <tr>
        <td><b>Income:</b></td>
        <td> {{tripView.income}}</td>
      </tr>
      <tr>
        <td><b>Distance:</b></td>
        <td> {{tripView.distance}}</td>
      </tr>
      <tr>
        <td><b>Fuel:</b></td>
        <td> {{tripView.fuel}}</td>
      </tr>
    </table>
  </div>
  <h4>Loading places</h4>
  <div *ngFor="let place of tripView.loadingPlaces; let i= index ">

    <table class="table table-bordered">
      <tr>
        <td><b>Number:</b></td>
        <td> {{place.nr}}</td>
      </tr>
      <tr>
        <td><b>Date:</b></td>
        <td> {{place.date}}</td>
      </tr>
      <tr>
        <td><b>Location:</b></td>
        <td> {{place.location | toString}}</td>
      </tr>
      <tr>
        <td><b>Finished:</b></td>
        <td> {{place.finished | finished}}</td>
      </tr>
      <tr *ngFor="let cargo of place.cargo; let j= index">
        <td><b>Cargo number:</b> {{j + 1}}</td>
        <td>
          <table width="100%">
            <tr>
              <td><b>Company name: </b></td>
              <td>{{cargo.companyName}}</td>
            </tr>
            <tr>
              <td><b>Number of pallets: </b></td>
              <td>{{cargo.numberOfPallets}}</td>
            </tr>
            <tr>
              <td><b>Weight: </b></td>
              <td>{{cargo.weight}} kg</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
  <br>
  <button type="button" class="nav-link btn btn-outline-primary btn-block" routerLink="/trip-form"
          (click)="updateTrip(tripView)">Update
  </button>
<!--  <button type="button" class="nav-link btn btn-outline-primary btn-block" (click)="showInMaps(tripView)">Show in google-->
<!--    maps-->
<!--  </button>-->
  <button type="button" class="nav-link btn btn-outline-primary btn-block" (click)="openMap(content)">Show in google
    maps
  </button>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
<app-map [trip]="tripView"></app-map>
  </div>
</ng-template>

