<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<div *ngIf="!isLoadingResults">
  <div>
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Plate</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col"></th>
<!--        <th scope="col"></th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of carsView; let i= index ">
        <th scope="row">{{i}}</th>
        <td>{{car.plate}}</td>
        <td>{{car.brand}}</td>
        <td>{{car.model}}</td>
        <td>
          <button type="button" (click)="saveInService(car)" class="btn btn-outline-success btn-block">Update</button>
        </td>
<!--        <td>-->
<!--          <button type="button" class="btn btn-outline-success btn-block">Show Details</button>-->
<!--        </td>-->
      </tr>
      </tbody>
    </table>
  </div>
  <button type="button" routerLink="/car-form" class="nav-link btn btn-outline-primary btn-block">Add new car</button>
  <mat-paginator [pageSize]="pageSize" [length]="totalItems" (page)="pageEvent2($event)"></mat-paginator>
</div>

<!--<div class="example-container mat-elevation-z8">-->
<!--  <div class="example-loading-shade">-->
<!--    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>-->
<!--  </div>-->

<!--  <div class="example-table-container">-->

<!--    <table mat-table [dataSource]="carsView" class="example-table">-->
<!--&lt;!&ndash;           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">&ndash;&gt;-->
<!--      &lt;!&ndash; Number Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="number">-->
<!--        <th mat-header-cell *matHeaderCellDef>#</th>-->
<!--        <td mat-cell *matCellDef="let car">{{car.id}}</td>-->
<!--      </ng-container>-->
<!--      <mat-text-column name="score"></mat-text-column>-->
<!--      &lt;!&ndash; Title Column &ndash;&gt;-->
<!--      <ng-container matColumnDef="title">-->
<!--        <th mat-header-cell *matHeaderCellDef>Plate</th>-->
<!--        <td mat-cell *matCellDef="let car">{{car.plate}}</td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="state">-->
<!--        <th mat-header-cell *matHeaderCellDef>Brand</th>-->
<!--        <td mat-cell *matCellDef="let car">{{car.brand}}</td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="state">-->
<!--        <th mat-header-cell *matHeaderCellDef>Model</th>-->
<!--        <td mat-cell *matCellDef="let car">{{car.model}}</td>-->
<!--      </ng-container>-->

<!--      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--    </table>-->
<!--  </div>-->

<!--  <mat-paginator [length]="resultsLength" [pageSize]="pageSize"></mat-paginator>-->
<!--</div>-->


