<div class="row card-group">
  <div class="col-md-2 border border-success pd" *ngFor="let driver of drivers; let i= index">
    <img src={{driver.imageUrl}} class="card-img-top" alt="...">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Pesel: {{driver.pesel}}</li>
      <li class="list-group-item">First Name: {{driver.firstName}}</li>
      <li class="list-group-item">Last Name: {{driver.lastName}}</li>
    </ul>
    <div class="row card-body">
      <a href="#" class="card-link btn btn-outline-primary btn-sm">Show details</a>
      <a href="#" class="card-link btn btn-outline-primary btn-sm">Update</a>
    </div>
  </div>
</div>
