
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/main">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <div *ngIf="user">
      <h3 style="float: left">{{user.username}}   </h3>
    <button style="margin-left: 10px" type="button float-md-left" class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </nav>
