<div>
  <mat-progress-bar color="primary" *ngIf="!loaded" mode="indeterminate"></mat-progress-bar>

<agm-map [latitude]="lat" [longitude]="lng">
          <agm-direction [optimizeWaypoints]="this.optimizationWaypoints" [origin]="origin" [destination]="destination" [waypoints]="viewPoints" >

          </agm-direction>
        </agm-map>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Starting location</th>
    <th scope="col">Final location</th>
    <th scope="col">Distance</th>
    <th scope="col">Duration</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let location of locationResult; let i= index ">
    <th scope="row">{{i}}</th>
    <td>{{location.startLocation}}</td>
    <td>{{location.endLocation}}</td>
    <td>{{location.distance}}</td>
    <td>{{location.duration}}</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td >{{this.distance}}</td>
    <td>{{this.duration}}</td>

  </tr>
  </tbody>
</table>
  <button [disabled]="loading" type="button"  class="btn btn-outline-dark btn-block"  (click)="opt()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    Optimize Trip
  </button>
</div>

