<!--<ng-template #content let-modal>-->
  <div class="modal-header">
    <h4 class="modal-title">Choose location</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Choose from existing location</label>
        <div class="input-group">
          <select class="custom-select my-1" formControlName="destination">
            <option [ngValue]="location"
                    *ngFor="let location of locations">{{location | toString}}</option>
          </select>
          <label>Provide new one</label>
          <input #location autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control">
        </div>
      </div>
    </form>
  </div>
<!--</ng-template>-->
