<div class="container">
  <h2>Driver Registration</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <input type="hidden" formControlName="id" id="id">
    <div class="form-group">
      <label for="pesel">Pesel:</label>
      <input type="text" class="form-control" id="pesel" placeholder="Enter pesel" formControlName="pesel">
      <div *ngIf="form.get('pesel').invalid && form.get('pesel').dirty" class="alert alert-danger">Required</div>
      <div *ngIf="form.get('pesel').errors && form.get('pesel').errors.pattern" class="alert alert-danger">Pesel should includes 12 digit</div>
    </div>
    <div class="form-group">
      <label for="firstName">FirstName:</label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter firstName" formControlName="firstName">
      <div *ngIf="form.get('firstName').invalid && form.get('firstName').dirty" class="alert alert-danger">Required</div>
    </div>
    <div class="form-group">
      <label for="lastName">LastName:</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter lastName" formControlName="lastName">
      <div *ngIf="form.get('lastName').invalid && form.get('lastName').dirty" class="alert alert-danger">Required</div>
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="text" class="form-control" id="email" placeholder="example@gmail.com" formControlName="email">
      <div *ngIf=" form.get('email').dirty && form.get('email').invalid" class="alert alert-danger">wrong format</div>
    </div>
    <div class="form-group">
      <label for="driver-license-select">Driving License:</label>
      <select class="custom-select my-1 mr-sm-2" id="driver-license-select" formControlName="drivingLicense" required>
        <option [ngValue]="license" *ngFor="let license of driverLicenses">{{license}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="birth">Birth:</label>
      <input type="date" class="form-control" id="birth" placeholder="Enter birth" formControlName="birth">
      <div *ngIf="form.get('birth').dirty && form.get('birth').invalid" class="alert alert-danger">Required</div>
    </div>
    <label for="file">Picture:</label>
    <div class="custom-file">
      <label class="custom-file-label" for="file">{{fileName}}</label>
      <input type="file" class="custom-file-input" id="file" (change)="onFileChange($event)" required >
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save Driver</button>
  </form>
  <p class="p-md-1"></p>
  <div *ngIf="response.alertType != null"  [ngClass]="['row alert ', response.alertType]"  role="alert">
    {{response.message}}
  </div>
</div>
