<!--<div class="na pt-5 bg-dark">-->
<!--<ul class="nav flex-column" >-->
<!--  <li class="nav-item">-->
<!--    <a routerLink="/driver" class="nav-link text-light nav-letter">Driver</a>-->
<!--  </li>-->
<!--  <li class="nav-item ">-->
<!--    <a routerLink="/car" class="nav-link text-light nav-letter">Car</a>-->
<!--  </li>-->
<!--  <li  class="nav-item">-->
<!--    <a routerLink="/trip" class="nav-link text-light nav-letter">Trip</a>-->
<!--  </li>-->
<!--  <li  class="nav-item">-->
<!--    <a routerLink="/report" class="nav-link text-light nav-letter">Report</a>-->
<!--  </li>-->
<!--</ul>-->
<!--</div>-->
<nav class="navbar pt-5 bg-dark">
  <ul class="nav flex-column" >
    <li class="nav-item">
      <a routerLink="/driver" class="nav-link text-light nav-letter">Driver</a>
    </li>
    <li class="nav-item ">
      <a routerLink="/car" class="nav-link text-light nav-letter">Car</a>
    </li>
    <li  class="nav-item">
      <a routerLink="/trip" class="nav-link text-light nav-letter">Trip</a>
    </li>
    <li  class="nav-item">
      <a routerLink="/report" class="nav-link text-light nav-letter">Report</a>
    </li>
  </ul>
</nav>
