<div class=" pt-5 bg-dark">
<ul class="nav flex-column " >
  <li class="nav-item">
    <a routerLink="/driver" class="nav-link text-light ">Driver</a>
  </li>
  <li class="nav-item">
    <a routerLink="/car" class="nav-link text-light ">Car</a>
  </li>
  <li  class="nav-item">
    <a routerLink="/trip" class="nav-link text-light ">Trip</a>
  </li>
  <li  class="nav-item">
    <a routerLink="/report" class="nav-link text-light ">Report</a>
  </li>
  <li  class="nav-item">
    <a routerLink="/tool" class="nav-link text-light ">Tools</a>
  </li>
</ul>
</div>
