<div class="row scroll">
  <div class="col-md-6" style="max-width: 25rem;">
    <form [formGroup]="form" (ngSubmit)="filterData()">
      <div class="row">
        <div class="col-md-6">
          <label >from
            <input  (blur)="filterData()" (change)="isFromDataChange = true" type="date" class="form-control w-100" id="date-start"
                   placeholder="date"
                   formControlName="fromDate"/></label>
        </div>
        <div class="col-md-6">
          <label>to
            <input (blur)="filterData()" (change)="isToDataChange = true" type="date" class="form-control w-100" id="date-finish"
                   placeholder="date"
                   formControlName="toDate"/></label>
        </div>
      </div>
    </form>
    <button type="button" class="nav-link btn btn-secondary btn-block" routerLink="/trip-form"
            (click)="removeUpdateTrip()">Add new
    </button>
    <mat-paginator [pageSize]="pageSize" [length]="totalItems" (page)="pageEvent($event)"></mat-paginator>
    <div id="scroll">
      <div *ngFor="let trip of tripsView" class="card " style="max-width: 25rem;">
        <button class="btn btn-light text-left" (click)="openDetails(trip)">
          <div class="card-header"><h4>Trip ID: {{trip.id}}</h4></div>
          <div class="card-body ">
            <h5 class="card-title">Status: {{trip.status}}</h5>
            <ul class="card-text">
              <li>Destination: {{trip.destination.city}} {{trip.destination.country}}</li>
              <li>Start date: {{trip.dateStart}}</li>
              <li *ngIf="trip.dateFinish != null">End date: {{trip.dateFinish}}</li>
            </ul>
          </div>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-7 offset-md-1" id="content">
    <div *ngIf="isDetails">
    <app-trip-view [tripView]="trip"></app-trip-view>
    </div>
  </div>
</div>
