<div class="row">
<div class="col-md-3" style="max-width: 20rem;">
  <button type="button" class="nav-link btn btn-outline-primary btn-block" routerLink="/trip-form">Add new</button>
  <div *ngFor="let trip of tripsView" class="card border-primary" style="max-width: 20rem;">
    <button class="btn btn-light text-left" (click)="openDetails(trip)">
      <div class="card-header"><h4>Trip ID: {{trip.id}}</h4></div>
      <div class="card-body text-primary">
        <h5 class="card-title">Status: {{trip.status}}</h5>
        <ul class="card-text">
          <li>Destination: {{trip.destination.city}} {{trip.destination.country}}</li>
          <li>Start Date: {{trip.dateStart}}</li>
          <li *ngIf="trip.dateFinish != null">Finish Date: {{trip.dateFinish}}</li>
          <li *ngIf="trip.placeFinish != null">Finish place: {{trip.destination.city}} {{trip.destination.country}}</li>
        </ul>
      </div>
    </button>
  </div>
</div>
<div class="col-md-7 " *ngIf="isDetails">
    <app-trip-view [tripView]="trip"></app-trip-view>
</div>
</div>
